@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* styles/global.css */

* {
  -ms-content-zooming: none;
  -ms-touch-select: none;
  touch-action: pan-y pinch-zoom double-tap-zoom;
}

.scroller-x, .scroller-x * {
  touch-action: pan-x;
}

.scroller-y, .scroller-y * {
  touch-action: pan-y;
}
.container {
  /* For preventing zooming and scrolling */
  overflow: hidden;
}
.btn{
  border-radius: 2rem;
  width: 32rem;
  height: 15rem;
}



/* CSS */

